* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background : #ccffc4;
}

a {
    text-decoration: none;
    color: white;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    color: #000;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #000;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navbar {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px ;
    background: #e9ffe4;
    border-bottom: 0.9px solid grey;
    box-shadow: 0 0 6px grey;
}
.logo {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin-left: 70px;
    color: #000;
    font-size: 2em;
    letter-spacing: 1px;
}
.navbar .nav-links ul {
    font-size: 1.2em;
    display: flex;
    gap: 30px;
    margin-right: 70px;
}
.navbar .nav-links ul li {
    display: flex;
}
.navbar .nav-links ul li a {
    color:black;
}
.navbar .nav-links ul li a:hover {
    border-bottom: 1px solid black ;
    color: black;
    text-shadow: none;
}
section {
    background: #ccffc4;
    width: 100%;
}
#home {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    background-size: cover;
}
.home-content h1{
    color:#000;
    font-family: 'Poppins';
    position: absolute;
    top: 100px;
    left: 58px;
    height: 190px;
    padding: 25px;
}
.home-content span {
    color: #008000;
}
.get-started {
    position: absolute;
    top: 450px;
    left: 100px;
    padding: 17px;
    font-size: 1em;
    font-weight: bold;
    color: #000;
    background-color: #008000;
    border-radius: 10px;
    border: none;
    box-shadow:0 0 6px #008000;
}
.get-started:hover{
    transform: translateY(-3px);
    box-shadow: 1px 2px 5px #008000;
}
.plus-infos {
    position: absolute;
    top: 520px;
    left: 100px;
    padding: 17px;
    font-size: 1em;
    font-weight: bold;
    color: #000;
    background-color:rgba(128, 128, 128, 0.582) ;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 6px grey;
}
.plus-infos:hover {
    transform: translateY(-3px);
    box-shadow: 1px 2px 5px grey;
}
#services {
    padding: 20px;
    min-height: 80vh;
    background: #9eff90;
}
#services h2 {
    color: #003404;
    font-family: 'Poppins';
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}
.box {
    background : #ccffc4;
    padding: 20px;
    margin: 50px;
    gap: 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-direction: column;  
    box-shadow: 0 0 7px #ccffc4;  
}
.box:hover {
    border: none;
    transform: translateX(-3px);
    box-shadow: 0px 3px 5px #52834a;
}
.box h3 {
    color: #003404;
    font-size: 1.5em;
    text-align: center;
}
.box p {
    margin-bottom: 30px;
}
.commander {
    padding: 17px;
    font-size: 1em;
    font-weight: bold;
    color: #000;
    background-color: #008000;
    border-radius: 10px;
    border: none;
    box-shadow:0 0 6px #008000;
}
.commander:hover{
    transform: translateY(-3px);
    box-shadow: 1px 2px 5px #008000;
}
#offres {
    min-height: 100vh;
    background: #ccffc4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}
#offres h2 {
    color: #003404;
    font-family: 'Poppins';
    font-size: 3em;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
}
.box2 {
    background : #9eff90;
    padding: 20px;
    margin: 50px;
    gap: 20px;
    border-radius: 20px;
    border: 0.3px solid #5fff50;
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-direction: column; 
    box-shadow: 0 0 6px #5fff50;   
}
.box2:hover {
    transform: translateY(4px);
    box-shadow: 0 0 8px #5fff50;
}
.box2 h3 {
    color: #003404;
    font-size: 1.5em;
    text-align: center;
}
.box2 ul li {
    margin: 20px;
}
.box2 ul li i {
    margin: 15px;
}
.box3 {
    background : #b3ccff;
    padding: 20px;
    margin: 50px;
    gap: 20px;
    border-radius: 20px;
    border: 0.5px solid #0a0b5c;
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-direction: column;   
    box-shadow: 0 0 8px #0a0b5c;
}
.box3:hover {
    transform: translateY(4px);
    box-shadow: 0 0 20px #0a0b5c;
}
.box3 h3 {
    color:#0a0b5c;
    font-size: 1.5em;
    text-align: center;
}
.box3 ul li {
    margin: 20px;
    color: #0a0b5c;
}
.box3 ul li i {
    margin: 15px;
}
.box2 .fa-circle-check {
    color:#003404;
}
.box2 .fa-circle-xmark {
    color: #b10303;
}
.box3 .fa-circle-check {
    color: #0a0b5c;
}
#contact {
    min-height: 50vh;
    background: #9eff90;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}
#contact h2 {
    color: #003404;
    font-family: 'Poppins';
    font-size: 3em;
    display: flex;
    align-items: center;
    margin: 20px;
}
.btn-discord {
    margin-top: 40px;
    padding: 17px;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    background-color: #008000;
    border-radius: 10px;
    border: none;
    box-shadow:0 0 6px #008000;
}
.btn-discord:hover {
    transform: translateY(-3px);
    box-shadow: 1px 2px 5px #008000;
}
footer {
    display: flex;
    min-height: 20vh;
    justify-content: center;
    align-items: center;
}
footer p {
    font-size: 0.8em;
    color: grey;
}
.aimnor {
    font-size: 0.8em;
    padding: 4px;
    color: #070707;
}
.aimnor:hover {
    transform: translateY(-2px)
}
.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px; 
    cursor: pointer;
}
.bar {
    display: none;
    width: 30px;
    height: 5px;
    background: black;
    transition: transform 0.3s ease-in-out;
}
.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg)
    }
.active .bar:nth-child(2) {
    opacity: 0;
}
.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg)
}
.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
}
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
@media screen and (max-width: 1070px) {
    .container {
        grid-template-columns: 2fr;
    }
}
@media screen and (max-width: 1186px) {
    .container2 {
        grid-template-columns: 3fr;
        height: auto;
    }
    .box2 ul li{
        font-size: 2.5em;
    }
    .box2 h3 {
        font-size: 4em;
    }
    .box3 ul li{
        font-size: 2.5em;
    }
    .box3 h3 {
        font-size: 4em;
    }
}
@media screen and (max-width: 900px) {
    #home {
        min-height: 40vh;
    }
    .get-started, .plus-infos, .commander, .btn-discord {
        font-size: 3em;
    }
    #services {
        min-height: 50vh;
    }
    #services h2 {
        font-size: 5em;
    }
    #services p {
        font-size: 2.5em;
    }
    #offres { 
        min-height: 90vh;
    }
    #offres h2 {
        font-size: 5em;
    }
    #contact {
        min-height: 15vh;
    }
    #contact h2 {
        font-size: 5em;
    }
    #offres p {
        font-size: 2.5em;
    }
    footer {
        min-height: 5vh;
    }
    #footer p {
        font-size: 1.5em;
    }
    h1 {
        font-size: 6em;
    }
    .navbar {
        position: absolute;
    }
    .nav-links {
        position: absolute;
        top: 60px;
        right: 12px;
        background-color: #e9ffe4b4;
        border: 0.9px solid grey;
        box-shadow: 0 0 6px grey;
        padding: 20px;
        margin-right: -100%;
        transition: all 0.3s ease;
    }
    .mobile-menu {
        margin-right: 12px
}
    .nav-links ul {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .burger {
        display: flex;
    }
    .bar {
        display: block;
    }
}